@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
     --primary-white: #fff;
}

body {
     font-family: "roboto condesed sans-sarif";
}
nav.navbar.navbar-default {
     margin-bottom: 0;
}
/* ul {
     background-color: pink;
}
li {
     color: black;
} */

nav a.nav-link {
     /* font-weight: 500; */
     letter-spacing: 0.0375rem;
     cursor: pointer;
}
nav ul li {
     text-transform: uppercase;
}
.navbar-nav > li > a,
.navbar-brand {
     color: var(--primary-white) !important;
     border-top: 0.1875rem solid rgba(255, 255, 255, 0);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
     border-top: 0.1875rem solid orange;
}
